body {
    width: 1200px;
    height: 1200px;
    background-color: blueviolet;
}
.main-container{
    width: 940px;
    margin-top: 40px;
}
li {
    border: 1px solid aquamarine;
    /* margin: 20px 100px 0 50px; */
    height: 25px;
    float: left;
    width: 140px;
    height: 130px;
    list-style: none;
} 
.main-container ul li span{
    float: right;
    margin: 10px;
}

.player {
    width: 25px;
    height: 25px;
}

.noSpecial {
    background-image: url("cespedverde.jpg");
    background-size: cover; 
}

#playerone {
    background-color: blue;
}

#playertwo {
    background-color: red;
}

#p5 {
    background-image: url("foto1.jpg");
    background-size: cover;
}

#p10 {
    background-image: url("foto3.jpg");
    background-size: cover;
}

#p15 {
    background-image: url("foto6.jpg");
    background-size: cover;
}

#p20 {
    background-image: url("foto7.jpg");
    background-size: cover;
}

#p25 {
    background-image: url("foto8.jpg");
    background-size: cover;
}

#p30 {
    background-image: url("foto4.jpg");
    background-size: cover;
}

#p6 {
    background-image: url("bridgenerja.jpg");
    background-size: cover;
}

#p12 {
    background-image: url("puente2.jpeg");
    background-size: cover; 
}

#p31 {
    background-image: url("calavera3.jpg");
    background-size: cover;
}