/* #board {
    width: 1200px;
    height: 1200px;
    background-color: blueviolet;
    
}

li {
    border: 1px solid aquamarine;
    margin: 20px 100px 0 50px;
    height: 25px;
    float: left;
    
} */